* {
    box-sizing: border-box;
}
h2 {
    font-size: 21px;
    line-height: 25px;
    font-style: normal;
}
body {
    margin: 0;
    min-height: 100%;
    color: #fff;
    background-color: #3399CC;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 19px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    max-width: 1170px;
}
li {
    display: inline-block;
    text-align: center;
}
.cities {
    padding: 0;
    font-size: 0;
    border: 2px solid #fff;
}
.cities li {
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    border: 2px solid #fff;
    padding: 26px;
}
.lisbon {
    width: 50%;
    background-color: #3399CC;
}
.paris {
    width: 25%;
    background-color: #33CCCC;
}
.belgrade {
    width: 25%;
    background-color: #996699;
}
.venice {
    width: 25%;
    background-color: #C24747;
}
.tel-avive {
    width: 25%;
    background-color: #E2674A;
}
.cair {
    width: 25%;
    background-color: #FFCC66;
}
.new-york {
    width: 25%;
    background-color: #99CC99;
}
.new-delhi {
    width: 25%;
    background-color: #669999;
}
.san-francisco {
    width: 50%;
    background-color: #CC6699;
}
.tokyo {
    width: 25%;
    background-color: #339966;
}
.sydney {
    width: 100%;
    background-color: #666699;
}
p {
    color: #fff;
    opacity: 0.7;
}
i {
    font-size: 35px;
}
.cities:hover li {
    opacity: 0.6;
}
.cities:hover li:hover {
    opacity: 1;
}